<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------------------Bootstrap + Custom------------------------------------>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--------------------Google Fonts (kalo perlu ditambahin, tambah aja)-------------------->
    <link href="https://fonts.googleapis.com/css?family=Lato|Rubik|Rubik+Mono+One&display=swap" rel="stylesheet">
    <!-----------------------------------CSS & Styelsheet------------------------------------->
    <link rel="stylesheet" href="{% static '/application-base.css' %}">
    <link rel="stylesheet" href="{% static '/homepage-nav.css' %}">
    <!--------------------------------------jQuery UI----------------------------------------->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-----------------------------------------Title------------------------------------------>
    <link rel="shortcut icon" href="{% static 'base-assets/favicon-moon.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
    {% block head_script %}{% endblock %}

    {% block content %}

    {% endblock %}

    <!-------------------------------------Scripts-------------------------------------------->
    {% block script %}{% endblock %}
</body>
</html>