<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}accordion | badi's very own accordion showcase{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'accordionpage-static/accordion.css' %}">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}


<section id="title-section" class="text-center">
    <h3>accordion ala ala</h3>
</section>

<section id="accordion-section" class=".accordion-wrapper text-center pr-5 pl-5">

    <div id="accordion-1" class="accordion my-4">
        <div id="main-card-1" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto">aktivitas saat ini</h2>
            <div class="arrow-icons">
                <a class="button-up"><i class="fa fa-chevron-up fa-1x d-inline mx-1" aria-hidden="true"></i></a>
                <a class="button-down"><i class="fa fa-chevron-down fa-1x d-inline mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="sub-card-1" class="active sub-card px-5">
            <p>nonton drakor lah gilak ngapain lg 5 bulan liburrrr</p>
        </div>
    </div>



    <div id="accordion-2" class="accordion my-4">
        <div id="main-card-2" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto">pengalaman organisasi/kepanitiaan</h2>
            <div class="arrow-icons">
                <a class="button-up"><i class="fa fa-chevron-up fa-1x d-inline mx-1" aria-hidden="true"></i></a>
                <a class="button-down"><i class="fa fa-chevron-down fa-1x d-inline mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="sub-card-2" class="sub-card px-5">
            <p>banyak dah sibuk bgt pokoknyaaa gamuatttt</p>
        </div>
    </div>



    <div id="accordion-3" class="accordion my-4">
        <div id="main-card-3" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto">prestasi</h2>
            <div class="arrow-icons">
                <a class="button-up"><i class="fa fa-chevron-up fa-1x d-inline mx-1" aria-hidden="true"></i></a>
                <a class="button-down"><i class="fa fa-chevron-down fa-1x d-inline mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="sub-card-3" class="sub-card px-5">
            <p>gaada :(</p>
        </div>
    </div>



    <div id="accordion-4" class="accordion my-4">
        <div id="main-card-4" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto">film favorit</h2>
            <div class="arrow-icons">
                <a class="button-up"><i class="fa fa-chevron-up fa-1x d-inline mx-1" aria-hidden="true"></i></a>
                <a class="button-down"><i class="fa fa-chevron-down fa-1x d-inline mx-1" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="sub-card-4" class="sub-card px-5">
            <p>weeei follow <a href="http://letterboxd.com/fahdikrie" target="_blank">letterboxd</a> guaaaa ayo kita mutualan</p>
        </div>
    </div>

</section>

<!-- <section id="button-section" class="text-center">
    <a href="{% url 'accordionpage:accordion_jqueryui' %}" class="toggle_color btn btn-secondary">check my jqueryui accordion too</a>
</section> -->


{% endblock %}

{% block script %}
    <script src="{% static 'accordionpage-static/accordion.js' %}"></script>
{% endblock %}