:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 15vh;
    margin-bottom: 5vh;
}

#title-section h3 {
    font-size: 4.5em;
    text-shadow: 2px 2px var(--color-soft-pink);
}

/* Description Section */

p {
    color: var(--color-pale-yellow);
    font-size: 1.5rem;
    font-family: var(--font-rubik);
}

p em {
    color: var(--color-gold);
}

/* Buttons */

.btn {
    width: 200px;
    color: var(--color-yellow);
    font-family: var(--font-rubik);
    font-weight: 600;
    border: 2.5px solid;
    margin: 3vh 10px;
}

.btn.btn-success {
    background-color: cadetblue;
    border-color: lightgreen;
}

.btn.btn-success:hover {
    filter: opacity(80%);
    color: var(--color-black);
}

.btn.btn-outline-danger {
    background-color: var(--color-soft-pink);
    border-color: salmon;
    color: red;
}

.btn.btn-outline-danger:hover {
    filter: opacity(80%);
    color: var(--color-black);
}