:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato', sans-serif;
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 5vh;
}

#title-section h3 {
    font-size: 4em;
    text-shadow: 2px 2px var(--color-soft-pink);
}

/* Form Section */

#form-section {
    padding: 5vh 25vw 3vh 25vw;
}

.status_feed_form {
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: var(--font-rubik);
}

p,
input,
textarea {
    font-family: var(--font-rubik);
}

#status {
    height: 10vh;
}

label {
    font-family: var(--font-rubik);
    font-weight: 700;
    color: var(--color-pale-yellow);
}

.btn {
    width: 100%;
    color: var(--color-yellow);
    font-family: var(--font-rubik);
    font-weight: 600;
    border: 2.5px solid;
    margin: 0px 0px 5vh;
}

.btn.btn-success {
    background-color: cadetblue;
    border-color: lightgreen;
}

.btn.btn-success:hover {
    filter: opacity(80%);
    color: var(--color-black);
}

.btn.btn-failure{
    width: 150px;
    background-color: var(--color-soft-pink);
    border: 1.5px solid;
    border-color: black;
    color: black;
}

.btn.btn-failure:hover {
    filter: opacity(80%);
    color: var(--color-black);
}

/* Statuses Card Section */

#statuses-section {
    margin-bottom: 10vh;
}

.statuses-card {
    width: 50vw;
    margin-left: 25vw;
    margin-right:25vw;

    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 5px;
    background-color: var(--color-dark-grey);
}

.statuses-card p {
    font-family: var(--font-lato);
    font-weight: 300;
}

.statuses-card span p {
    font-weight: 400;
    color: var(--color-gold);
}

.statuses-card p em {
    font-family: var(--font-lato);
    font-weight: 400;
    color: gold;
}
