<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}login | badi's very own login page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authenticationpage-static/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<section id="title-section" class="text-center">
    <h3>Login Page</h3>
</section>

<section id="form-section" class="text-center">
    <form method="POST" action="/auth/login/">
        {% csrf_token %}
        <div id="input-section">
            {% for field in form %}
            <span><p class="errors">{{ field.errors }}</p></span>
            <p class="text-left">{{ field.label_tag }} <br></p>
            <span class="">{{ field }}</span>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-success button" name="login">Login</button>
    </form>
</section>

<section id="info-section" class="text-center">
    <h5>or perhaps... you don't have an account yet? <span><a href="{% url 'authenticationpage:signup' %}">sign up first</a></span></h5>
</section>

{% endblock %}