<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}sign up | badi's very own sign up page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authenticationpage-static/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<section id="title-section" class="text-center">
    <h3>Sign Up Page</h3>
</section>

<section id="form-section" class="text-left">
    <form method="POST" action="/auth/signup/">
        {% csrf_token %}
        <div id="input-section">
            {% for field in form %}
                <div class="input-wrapper">
                    <span><p class="errors">{{ field.errors }}</p></span>
                    <p class="text-left">{{ field.label_tag }} <br></p>
                    <span class="">{{ field }}</span>
                    {% if field.help_text %}
                    <p class="help text-left ml-3">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" id="signup-btn" class="btn btn-success button" name="sign-up">Sign Up</button>
    </form>
</section>

<section id="info-section" class="text-center">
    <h5>already have an account? <span><a href="{% url 'authenticationpage:login' %}">login</a></span></h5>
</section>

{% endblock %}