<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}welcome | badi's very own welcome page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authenticationpage-static/welcome.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<section id="title-section" class="text-center">

    <h3><span id="welcome-tag">welcome</span>, {{ username }}</h3>
    <h5>you will be redirected to the landing page in <span id="countdown-timer">8</span> seconds, <br>
    or you might as well <span><a href="{% url 'statusfeedpage:status_feed' %}">go now</a></span> i guess... yeaaa you do you mate</h5>

</section>

{% endblock %}

{% block script %}
    <script src="{% static 'authenticationpage-static/welcome.js' %}"></script>
{% endblock %}