:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#title-section h3 {
    font-size: 6em;
    text-shadow: 2px 2px var(--color-soft-pink);
    margin-bottom: 1.5vh;
}

#title-section h5 {
    font-size: 1.5em;
    text-shadow: 1px 1px var(--color-soft-pink);
    font-family: var(--font-rubik);
}

#title-section h5 span {
    color: var(--color-yellow);
}

#title-section h5 span:hover {
    color: var(--color-soft-pink);
    text-decoration: underline;
}


/* Carousel Section */

.modal-body {
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0px;
}

.modal-content {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 0px;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    margin: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 70%;
    position: relative;
    top: 20%;
    /* opacity: 70%; */
    padding-bottom: 0px;
    padding-top: 20px;
}

.carousel-caption p {
    font-size: 1em;
    opacity: 100%;
    color: white;
    font-family: var(--font-rubik);
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.carousel-caption p span {
    color: var(--color-pale-yellow);
}


/* Query Section */

#query-section {
    margin-bottom: 3vh;
}

    /* Input Section */

    .form-control {
        width: 84%;
        display: inline-block;
    }

    /* Button Section */

    .btn {
        width: 15%;
        color: white;
        font-family: var(--font-rubik);
        font-weight: 600;
        display: inline-block;
        border: 1.5px solid;
        border-color: white;
        margin-bottom: 3.8px;
    }

    .btn:active {
        background-color: var(--color-black);
        color: white;
    }

    .btn:hover {
        filter: opacity(80%);
        color: var(--color-black);
    }


/* Like Button */ 

a p {
    color: white;
}

.like-button {
    color: var(--color-pale-yellow);
    cursor: pointer;
    text-shadow: 1px 1px var(--color-gold);
}

.like-button:hover {
    opacity: 80%;
}

.like-button.active {
    color: white;
    text-shadow: 0.5px 0.5px black;
}