:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 3vh;
    margin-bottom: 0;
}

#title-section h3 {
    font-size: 5em;
    text-shadow: 4px 5px var(--color-soft-pink), 8px 10px cadetblue;
    letter-spacing: 2px;
}

#title-section h5 {
    font-size: 1.5em;
    text-shadow: 1px 1px var(--color-soft-pink);
    font-family: var(--font-rubik);
    line-height: 1.5;
    letter-spacing: 1.25px;
}

#title-section h5 span {
    color: var(--color-yellow);
}

#title-section h5 span:hover {
    color: var(--color-soft-pink);
    text-decoration: underline;
}

#form-section {
    margin-bottom: 1vh;
    padding: 5vh 35vw 0vh 35vw;
}

    /* Input Section */

    span p.errors {
        font-family: var(--font-rubik);
        font-weight: 400;
        color: var(--color-yellow);
    }

    form div#input-section div.input-wrapper ul li {
        line-height: 1.5;
        margin: 0;
        font-family: var(--font-lato);
        font-weight: 400;
        color: var(--color-pale-yellow);
        text-shadow: 0.5px 0.5px var(--color-soft-pink);
        font-weight: 100;
        font-size: 0.8em;
    }

    form div#input-section div.input-wrapper p  {
        line-height: 1.5;
        margin: 0;
        font-family: var(--font-lato);
        font-weight: 400;
        color: var(--color-pale-yellow);
        text-shadow: 0.5px 0.5px var(--color-soft-pink);
    }

    form div#input-section div.input-wrapper p.help {
        font-weight: 100;
        font-size: 0.8em;
    }

    #id_username {
        /* width: 84%;
        display: inline-block; */
        width: 100%;
        font-family: var(--font-rubik);
        padding-top: 0px;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 35px;
    }

    #id_password1 {
        /* width: 84%;
        display: inline-block; */
        width: 100%;
        font-family: var(--font-rubik);
        padding-top: 0px;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 35px;
    }

    #id_password2 {
        /* width: 84%;
        display: inline-block; */
        width: 100%;
        font-family: var(--font-rubik);
        padding-top: 0px;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 35px;
    }

    .input-wrapper {
        margin-bottom: 10px;
    }

    #input-section {
        margin-bottom: 3vh;
    }

    /* Button Section */

    .btn {
        width: 100%;
        color: var(--color-yellow);
        font-family: var(--font-rubik);
        font-weight: 600;
        border-radius: 5px;
        border: 1.5px solid;
        margin: 0px 0px 1vh;
    }

    .btn.btn-success {
        background-color: cadetblue;
        border-color: lightgreen;
    }

    .btn.btn-success:hover {
        filter: opacity(80%);
        color: var(--color-black);
    }


/* Info Section */

#info-section {
    margin-bottom: 8vh;
}

#info-section h5 {
    font-size: 1.3em;
    text-shadow: 1px 1px var(--color-soft-pink);
    font-family: var(--font-rubik);
    line-height: 1.5;
    letter-spacing: 1.25px;
}

#info-section h5 span {
    color: var(--color-yellow);
}

#info-section h5 span:hover {
    color: var(--color-soft-pink);
    text-decoration: underline;
}