:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 25vh;
    margin-bottom: 10vh;
}

#title-section h3 {
    font-size: 6em;
    text-shadow: 2px 2px var(--color-soft-pink);
    margin-bottom: 1.5vh;
    letter-spacing: 2px;
}

#title-section h5 {
    font-size: 1.5em;
    text-shadow: 1px 1px var(--color-soft-pink);
    font-family: var(--font-rubik);
    line-height: 1.5;
    letter-spacing: 1.25px;
}

#title-section h5 span {
    color: var(--color-yellow);
}

#title-section h5 span:hover {
    color: var(--color-soft-pink);
    text-decoration: underline;
}
