:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


::selection {
    background: var(--color-soft-pink); /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: var(--color-soft-pink); /* Gecko Browsers */
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: var(--color-yellow);
}

body {
    margin: 0;
    font-size: medium;

    width: 100vw;
    height: 100%;

    background-color: var(--color-black);
}


h1 {
    font-family: var(--font-rubik, 'sans serif');
    font-size: 15em;
    font-weight: bold;
    letter-spacing: 1vw;

    color: var(--color-black);
    text-shadow: -3px -3px 0 var(--color-yellow), 3px -3px 0 var(--color-yellow), -3px 3px 0 var(--color-yellow), 3px 3px 0 var(--color-yellow);

    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

h2 {
    font-family: var(--font-rubik-black);
    font-size: 1em;

    color: var(--color-yellow);

    line-height: 1.2;
    cursor: default;
}

h3 {
    font-family: var(--font-rubik-black);
    font-size: 3em;

    color: var(--color-yellow);

    line-height: 1.2;
    cursor: default;
}

h4 {
    font-family: var(--font-rubik);

    text-decoration: underline;
    color: var(--color-yellow);

    line-height: 1.2;
    cursor: pointer;
}

h5 {
    font-family: var(--font-lato);
    font-size: 2em;
    letter-spacing: 1px;

    color: var(--color-pale-yellow);
    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

h6 {
    font-family: monospace;
    font-size: 1em;
    letter-spacing: 1px;

    color: var(--color-yellow);
    margin: 0%;
    padding: 0%;

    line-height: 1;
    cursor: default;
}

p {
    font-family: var(--font-lato);
    font-size: 1em;
    font-weight: 500;

    line-height: 2;

    color: var(--color-pale-yellow);
    cursor: default;
}

u {
    text-decoration: none;
}

u:hover {
    color: var(--color-gold);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: gold;
}

.nav-dropdown-items {
    font-family: var(--font-lato);
    color: var(--color-yellow);
}

/* .nav-dropdown-items:hover {
    color: var(--color-black);
} */

.dropdown-menu {
    background-color: var(--color-dark-grey);
}

.dropdown-menu:active {
    background-color: var(--color-dark-grey);
}
