#navigation-bar {
    width: 100vw;
    height: 10vh;
}

#navbar-brand {
    padding: 1% 4% 2.5% 5%;
}

#mavbar-brand h3 a {
    font-family: var(--font-rubik);
}

.nav-link,
li.list-inline-item h2 {
    font-family: var(--font-rubik);
    color: var(--color-yellow);
}

.nav-dropdown-items {
    font-family: var(--font-rubik);
    color: var(--color-yellow);
}


.navbar-toggler {
    color: yellow;
}

#navbar-items {
    position: absolute;
    top: 3.5%;
    right: 3%;
}

.btn-group {
    padding: 0%;
    padding-top: 0.75%;
    margin-right: 0%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.dropdown-item:hover {   
    background-color: var(--color-yellow);
}

.dropdown-item:hover > span {
    color: var(--color-black);
}

.dropdown>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
    pointer-events: none;
}