<!DOCTYPE html>

<nav id="navigation-bar">
    <div id="navbar-brand">
        <h3><a href="https://badisveryown.herokuapp.com/">B</a></h3>
    </div>

    <div id="navbar-items">
        <ul class="list-inline">
            <li class="list-inline-item ml-5">
                <h2><a href="https://badisveryown.herokuapp.com/#secondPage/">About</a></h2>
            </li>

            <li class="list-inline-item ml-5">
                <h2><a href="https://badisveryown.herokuapp.com/">Activities</a></h2>
            </li>

            <li class="list-inline-item ml-5">
                <h2><a href="https://badisveryown.herokuapp.com/blog/">Blog</a></h2>
            </li>

            <li class="list-inline-item active dropdown ml-4">
                <h2><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Credentials</a></h2>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/#thirdPage/"><span class="nav-dropdown-items">Portfolio</span></a></li>
                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1OU3FW9TYOq70LjPKP1rqNOPta4xeLwjA/view?usp=sharing" target="_blank"><span class="nav-dropdown-items">Resume</span></a></li>
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/#fifthPage"><span class="nav-dropdown-items">Contacts</span></a></li>
                </ul>
            </li>

            <li class="list-inline-item active dropdown mr-2">
                <h2><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stories</a></h2>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/story/"><span class="nav-dropdown-items">Story 1 s/d 3</span></a></li>
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/datetime/"><span class="nav-dropdown-items">Date & Time</span></a></li>
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/schedule/"><span class="nav-dropdown-items">Schedule</span></a></li>
                    <li><a class="dropdown-item" href="https://badisveryown.herokuapp.com/event/"><span class="nav-dropdown-items">Events</span></a></li>
                    <li><a class="dropdown-item" href="{% url 'statusfeedpage:status_feed' %}"><span class="nav-dropdown-items">Status</span></a></li>
                    <li><a class="dropdown-item" href="{% url 'accordionpage:accordion' %}"><span class="nav-dropdown-items">Accordion</span></a></li>
                    <li><a class="dropdown-item" href="{% url 'bookcataloguepage:bookcatalogue' %}"><span class="nav-dropdown-items">Book Catalogue</span></a></li>
                    <li><a class="dropdown-item" href="{% url 'authenticationpage:login' %}" target="_blank"><span class="nav-dropdown-items">Login</span></a></li>
                </ul>
            </li>

            <li class="list-inline-item">
                <h2 style="font-size: 1.5em; font-weight: 500; font-family: 'Rubik Light';">|</h2>
            </li>

            {% if not request.user.is_authenticated %}
            <li class="list-inline-item ml-3">
                <h2><a class="d-inline" href="{% url 'authenticationpage:login' %}"><i class="fas fa-user-circle fa-1x d-inline mr-2"></i>Log in</a></h2>
            </li>
            {% else %}
            <li class="list-inline-item active dropdown ml-1">
                <h2><a class="nav-link dropdown-toggle d-inline" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-1x d-inline mr-2"></i>{{ request.user }}</a></h2>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <li><a class="dropdown-item" href="{% url 'authenticationpage:logout' %}"><span class="nav-dropdown-items">Logout</span></a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>