:root {
    --color-black: #000000;
    --color-dark-grey: #222222;
    --color-light-grey: #333333;
    --color-yellow: #fff000;
    --color-pale-yellow: #faf49a;
    --color-gold: #FFD700;
    --color-soft-pink: #ffb7b7;

    --font-rubik: 'Rubik';
    --font-rubik-mono-one: 'Rubik Mono One'; 
    --font-rubik-black: 'Rubik';
    --font-lato: 'Lato';
}

body {
    font-family: var(--font-lato);
}

html {
    overflow-x: hidden;
}

/* Title Section */

#title-section {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#title-section h3 {
    font-size: 4em;
    text-shadow: 2px 2px var(--color-soft-pink);
}

/* Accordion Section */

#accordion-section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

    /* Main Card */

    .main-card {
        background-color: var(--color-dark-grey);
        margin-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

    .main-card h2 {
        font-size: 20px;
        font-family: var(--font-rubik);
        font-weight: 700;
    }

    .main-card:hover {
        filter: opacity(80%);
    }

    .main-card:active {
        box-shadow: 0px 2px var(--color-gold);
    }

    /* Sub Card  */

    .accordion .sub-card {
        overflow: hidden;
        display: none;
        height: 0%;
    }

    .accordion .sub-card.active {
        display: block;
        transition: height 0.3s ease;
        height: 100%;
    }

    #sub-card-4 p a {
        text-decoration: underline;
    }

    /* Arrow Icons */

    .arrow-icons {
        font-size: 20px;
        color: yellow;
    }

    .fa:hover {
        cursor: pointer;
        color: var(--color-soft-pink);
    }


/* Button Section */

.btn {
    width: 53.5vw;
    color: var(--color-yellow);
    font-family: var(--font-rubik);
    font-weight: 600;
    border: 1px solid;
    margin: 20px 0px 5vh;
}

.btn.btn-secondary {
    background-color: var(--color-light-grey);
    border-color: var(--color-gold);
}

.btn.btn-secondary:active {
    background-color: var(--color-black);
    color: white;
    border-color: var(--color-gold);
}

.btn.btn-secondary:hover {
    filter: opacity(80%);
    color: var(--color-black);
}

