<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}book catalogue | badi's very own online book catalogue page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'bookcataloguepage-static/catalogue-landing.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<section id="title-section" class="text-center container">
    <h3>ya allah capek</h3>

    <h5>psst... see the top 5 liked books <span type="button" data-toggle="modal" data-target="#exampleModal">here!</span></h5>
</section>

<section id="modal-section">
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- carousel items go here -->

                            <!-- <div class="carousel-item active text-center">
                                <img class="img-responsive" style="height: 80vh ; width : 50vh" src="http://books.google.com/books/content?id=1EhPf1ZptXwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="...">
                                <div class="carousel-caption">
                                    <p>hehe 1</p>
                                </div>
                            </div>
                            <div class="carousel-item text-center">
                                <img class="img-responsive" style="height: 80vh ; width : 50vh" src="http://books.google.com/books/content?id=1EhPf1ZptXwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="...">
                                <div class="carousel-caption">
                                    <p>hehe 2</p>
                                </div>
                            </div>
                            <div class="carousel-item text-center">
                                <img class="img-responsive" style="height: 80vh ; width : 50vh" src="http://books.google.com/books/content?id=1EhPf1ZptXwC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="...">
                                <div class="carousel-caption">
                                    <p>hehe 3</p>
                                </div>
                            </div> -->
                        </div>

                        <a class="carousel-control carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="query-section" class="text-center container">
    <input type="text" id="search-input" class="form-control">
    <button id="search-button" class="btn">cari!</button>
</section>

<section id="catalogue-section" class="text-center container">
    <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Book ID</th>
            <th scope="col">Upvote</th>
          </tr>
        </thead>
        <tbody id="table-body">
          <!-- content goes here -->
        </tbody>
      </table>
</section>

{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="{% static 'bookcataloguepage-static/handling-modal.js' %}"></script>
    <script src="{% static 'bookcataloguepage-static/handling-like.js' %}"></script>
    <script src="{% static 'bookcataloguepage-static/catalogue-landing.js' %}"></script>
{% endblock %}