<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}feed | badi's very own feed page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'statusfeedpage-static/confirmation.css' %}">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<div class="text-center">
    
    <section id="title-section"> 
        <h3>are u suuuuuuuure</h3>
    </section>


    <p>you said <em>"{{ status }}"</em> and you said your name was <em>"{{ posted_by }}"</em></p>

    <section id="form-section">
        <form method="POST" action="{% url 'statusfeedpage:status_feed_confirmation' posted_by status %}">
            {% csrf_token %}
            <button id="confirm" type="submit" class="btn btn-success">submit</button>
            <a id="decline" href="{% url 'statusfeedpage:status_feed' %}" class="btn btn-outline-danger">nonono</a>
        </form>
    </section>


</div>

{% endblock %}