<!DOCTYPE html>

{% extends 'application-base.html' %}

{% load static %}

{% block title %}feed | badi's very own feed page{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'statusfeedpage-static/feed.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
{% endblock %}

<!------ Content goes here ------>
{% block content %}
{% include 'homepage-nav.html' %}

<section id="title-section" class="text-center">
    <h3>(What's The Story) Morning Glory?</h3>
</section>

<section id="form-section">
    <form method="POST" action="{% url 'statusfeedpage:status_feed' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit" type="submit" class="btn btn-success">submit</button>
    </form>
</section>

<section id="statuses-section">
{% for i in posted_statuses %}
    <div class="bubble statuses-card" style="background-color: {{ i.color }};">
        <span class="status"><p>{{ i.status }}</p></span>
        <p>posted by <em>{{ i.posted_by }}</em> at <em>{{ i.datetime }}</em></p>

        <a href="{% url 'statusfeedpage:status_feed_change_color' i.id %}" class="toggle_color btn btn-failure">change color</a>
    </div>
{% endfor %}

</section>

{% endblock %}